*, *::before, *::after{
  box-sizing: border-box;
  min-width: 0;
}

body, html{
  margin:0;
  padding: 0;

}

body{
  background-color: #292F37;
}

a{
  color: #008080;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
  color:#C4C4C4;
  font-family: 'Noto Sans', sans-serif;
}

.home-page{
  margin:1em 25em;
  margin-top: 15em;
  text-align: center;

}

.home-page ul{
  list-style: none;
  border-left: 0.5em solid #0840B9;
  padding-left: 0.5em;

}
h1{
  text-align: left;
  font-size: 2.5em;
}
.home-page img{

  max-width: 100%;
  border: 0.3em solid #000;

}
.home-page nav{
  padding-top: 0;
  text-align: left;

}

.home-page a{
  display:inline-block;
  position:relative;
  margin-top: 0.1em;
  padding: 0 1em;
  height:50%;
  font-size: 2em;

}
.home-page a:not(:last-child)::after, .section-nav a:not(:last-child)::after{
  position:absolute;
  content: '';
  vertical-align: super;
  height:75%;
  width:0.1em;
  margin-top: 0.25em;
  right:0;
  top:0;
  background-color: grey;
}

.home-page a:first-child, .section-nav a:first-child{
  padding-left: 0.5em;
}

.home-page a:hover, .section-nav a:hover, .section-content a:hover{
  transition: color 0.4s ease-in;
  color: #00CDCD
}


.about-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  height:100%;


}


.section-nav{
  margin-top: 1em;
  flex: 1 1 25%;
  margin-top: 1em;
  margin-left: 1em;


}


.section-nav a{

  display:inline-block;
  position:relative;
  margin-top: 0.1em;
  padding: 0 1em;
  height:50%;
  font-size: 1.2em

}
.section-title h1{
  font-size: 3em;
  /* text-align: right; */
  margin: 0;
  margin-top: 1em;
  padding-left: 0.5em;
}

.section-title ul{
  margin-top: 3em;
  list-style: none;
  font-size: 2em;
}

.section-title li{
  margin-top: 0.5em;
}
.section-content{
  display:flex;
  flex-flow: row nowrap;
  margin:0;


  text-align: justify;
}
.section-content h1{
  font-size: 2em;
  border-bottom: 0.2em solid #C4C4C4;
  text-align: left;
  padding-bottom: 0.2em;

}

.section-content article{
  margin-left: 40em;
  margin-right:40em;
  margin-top: 3em;
}

.section-content a{
  font-size: 1.5em;
}

.project-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  height:100%;

}
.project-title{
  flex:100%;
}
.project-content{
  display:flex;
  flex-flow: row nowrap;
}
.project-content img{
  max-width:100%;
}
.project-content figure{

  flex:40%;
  background-color: #333;
}
.project-content article{
  flex:60%;
}
